* {
	margin: 0px;
	padding: 0px;
}

html {
}

body {
	color: #212121;
	font-size: 16px;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
	background-color: #f9f9f9;
	font-family: "RobotoDraft","Roboto",sans-serif;
	box-sizing: border-box;
}

.title {
	font-weight: normal;
}

ul.demo-item {
	list-style-type: none;
}

ul.demo-item li {
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	line-height: 70px;
	padding: 0px 50px;
	background-color: #009688;
	color: #fff;
	width: 100%;
	z-index: 1;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

#contents {
	padding: 30px;
	margin: 90px 30px;
	
}

